.block-home-banner {

    .swiper-container {

        .swiper-slide {
            min-height: 824px;
            background-size: cover;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;

            // Breakpoints
            @include respond-to($phone) {
                min-height: 350px;
            }

            @include respond-to($phone-tablet) {
                min-height: 350px;
            }

            @include respond-to($tablet-medium) {
                min-height: 350px;
            }

            @include respond-to($medium-large) {
                min-height: 350px;
            }
        }
    }

    .container-banner {
        width: 100%;
        padding: 45px 0px;
        background-color: $color-secondary;

        // Breakpoints
        @include respond-to($phone) {
            padding: 30px 0px;
        }

        @include respond-to($phone-tablet) {
            padding: 30px 0px;
        }

        @include respond-to($tablet-medium) {
            padding: 30px 0px;
        }

        @include respond-to($medium-large) {
            padding: 30px 0px;
        }

        p {
            margin: 0px;
            text-align: center;
            line-height: 29px;
            font-size: 25px;
            color: #FFFFFF;
        }
    }
}
