@font-face {
    font-family: 'Avenir Book';
    src: url('../fonts/avenir-book/Avenir-Book.woff2') format('woff2'),
        url('../fonts/avenir-book/Avenir-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Avenir Book';
    font-weight: 400;
    font-size: 17px;
    box-shadow: none !important;
    outline: none !important;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    outline: 0px;
}

html {
    position: relative;
    overflow-x: hidden;
}

body {
    position: relative;
    overflow: hidden;
    background: #000000;
}

header,
footer,
section {
    width: 100%;
    float: left;
    position: relative;
}

/*Título*/
h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0;
    line-height: 55px;
    font-weight: 700;
    font-size: 55px;
    color: #489dca;

    // Breakpoints
    @include respond-to($phone) {
        line-height: 45px;
        font-size: 45px;
    }

    @include respond-to($phone-tablet) {
        line-height: 45px;
        font-size: 45px;
    }

    @include respond-to($tablet-medium) {
        line-height: 45px;
        font-size: 45px;
    }

    @include respond-to($medium-large) {
        line-height: 45px;
        font-size: 45px;
    }
}

h2 {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0;
    line-height: 50px;
    font-weight: 700;
    font-size: 50px;
    color: #489dca;

    // Breakpoints
    @include respond-to($phone) {
        line-height: 40px;
        font-size: 40px;
    }

    @include respond-to($phone-tablet) {
        line-height: 40px;
        font-size: 40px;
    }

    @include respond-to($tablet-medium) {
        line-height: 40px;
        font-size: 40px;
    }

    @include respond-to($medium-large) {
        line-height: 40px;
        font-size: 40px;
    }
}

/*Parrafos*/
p {
    margin-bottom: 0px;
    letter-spacing: 0.49px;
    line-height: 20px;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;

    // Breakpoints
    @include respond-to($phone) {
        line-height: 20px;
        font-size: 15px;
    }

    @include respond-to($phone-tablet) {
        line-height: 20px;
        font-size: 15px;
    }

    @include respond-to($tablet-medium) {
        line-height: 20px;
        font-size: 15px;
    }

    @include respond-to($medium-large) {
        line-height: 20px;
        font-size: 15px;
    }
}

/*Botones*/
.btn-primary {
    padding: 0px;
    border: none !important;
    background-color: transparent !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    // Breakpoints
    @include respond-to($phone) {
        line-height: 21px;
        font-size: 15px;
    }

    @include respond-to($phone-tablet) {
        line-height: 21px;
        font-size: 15px;
    }

    @include respond-to($tablet-medium) {
        line-height: 21px;
        font-size: 15px;
    }

    @include respond-to($medium-large) {
        line-height: 21px;
        font-size: 15px;
    }
}

/*Estilos generales*/
.container-image {
    width: 100%;
    height: 100%;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
}

/*formulario*/
form {
    width: 100%;

    .form-control {
        height: auto;
        padding: 20px 15px;
        letter-spacing: 0.4px;
        line-height: 19px;
        font-size: 14px;
        color: $color-secondary;
        border: none;
        background-color: #FFFFFF;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        box-shadow: none;
        outline: 0px;

        &::-webkit-input-placeholder {
            letter-spacing: 0.4px;
            line-height: 19px;
            font-size: 14px;
            color: $color-secondary;
        }

        &:-ms-input-placeholder {
            letter-spacing: 0.4px;
            line-height: 19px;
            font-size: 14px;
            color: $color-secondary;
        }

        &::placeholder {
            letter-spacing: 0.4px;
            line-height: 19px;
            font-size: 14px;
            color: $color-secondary;
        }
    }

    .form-select {
        height: auto;
        padding: 20px 15px;
        letter-spacing: 0.4px;
        line-height: 19px;
        font-size: 14px;
        color: $color-secondary;
        border: none;
        background-color: #FFFFFF;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        box-shadow: none;
        outline: 0px;

        optgroup {
            font-style:normal;
            font-weight:normal;
            letter-spacing: 0.37px;
            line-height: 18px;
            font-weight: 700;
            font-size: 13px;
            color: $color-primary;

            option {
                letter-spacing: 0.37px;
                line-height: 18px;
                font-size: 13px;
                color: $color-primary;
            }
        }
    }

    .form-check {

        .form-check-label {
            letter-spacing: 0.37px;
            line-height: 18px;
            font-size: 13px;
            color: $color-secondary;

            a {
                text-decoration: underline !important;
                letter-spacing: 0.37px;
                line-height: 18px;
                font-size: 13px;
                color: $color-secondary;
            }
        }
    }
}