@font-face {
    font-family: 'Avenir Book';
    src: url('../fonts/avenir-book/Avenir-Book.woff2') format('woff2'),
        url('../fonts/avenir-book/Avenir-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Avenir Book';
    font-weight: 400;
    font-size: 17px;
    box-shadow: none !important;
    outline: none !important;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    outline: 0px;
}

html {
    position: relative;
    overflow-x: hidden;
}

body {
    position: relative;
    overflow: hidden;
    background: #000000;
}

header,
footer,
section {
    width: 100%;
    float: left;
    position: relative;
}

/*Título*/
h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0;
    line-height: 55px;
    font-weight: 700;
    font-size: 55px;
    color: $color-primary;

    // Breakpoints
    @include respond-to($phone) {
        line-height: 45px;
        font-size: 45px;
    }

    @include respond-to($phone-tablet) {
        line-height: 45px;
        font-size: 45px;
    }

    @include respond-to($tablet-medium) {
        line-height: 45px;
        font-size: 45px;
    }

    @include respond-to($medium-large) {
        line-height: 45px;
        font-size: 45px;
    }
}

h2 {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0;
    line-height: 50px;
    font-weight: 700;
    font-size: 50px;
    color: $color-primary;

    // Breakpoints
    @include respond-to($phone) {
        line-height: 40px;
        font-size: 40px;
    }

    @include respond-to($phone-tablet) {
        line-height: 40px;
        font-size: 40px;
    }

    @include respond-to($tablet-medium) {
        line-height: 40px;
        font-size: 40px;
    }

    @include respond-to($medium-large) {
        line-height: 40px;
        font-size: 40px;
    }
}

/*Parrafos*/
p {
    margin-bottom: 0px;
    letter-spacing: 0.49px;
    line-height: 20px;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;

    // Breakpoints
    @include respond-to($phone) {
        line-height: 20px;
        font-size: 15px;
    }

    @include respond-to($phone-tablet) {
        line-height: 20px;
        font-size: 15px;
    }

    @include respond-to($tablet-medium) {
        line-height: 20px;
        font-size: 15px;
    }

    @include respond-to($medium-large) {
        line-height: 20px;
        font-size: 15px;
    }
}

/*Botones*/
.btn-primary {
    padding: 15px 30px;
    line-height: 28px;
    font-weight: 400;
    font-size: 24px;
    border: none !important;
    background-color: $color-primary !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    // Breakpoints
    @include respond-to($phone) {
        line-height: 21px;
        font-size: 15px;
    }

    @include respond-to($phone-tablet) {
        line-height: 21px;
        font-size: 15px;
    }

    @include respond-to($tablet-medium) {
        line-height: 21px;
        font-size: 15px;
    }

    @include respond-to($medium-large) {
        line-height: 21px;
        font-size: 15px;
    }
}

/*Estilos generales*/
.container-image {
    width: 100%;
    height: 100%;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
}

.modal-dialog {

    .modal-content {

        .modal-header {
            padding: 10px 15px;
        }

        .modal-footer {
            padding: 10px 15px;
        }
    }
}

#on-load-page {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background: #FFFFFF url('../img/load-spinner.gif') center center / 50px auto no-repeat;
    z-index: 99999;
    display: none;
}

#on-load-page-send {
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 3px 15px;
    position: fixed;
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    z-index: 999999;
}